@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Trispace&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Syne+Tactile&display=swap');

body {
    background-color: #25292c;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    overflow: hidden;
    color: #f2f2f2;
}

.bold {
    font-weight: bold;
}

.header {
    width: 100%;
    height: 40px;
    -webkit-app-region: drag;
    display: flex;
    justify-content: space-between;
    background-color: #141416;
}

.app-title {
    font-family: 'Pacifico', cursive;
    font-size: 16px;
    padding-left: 15px;
    line-height: 40px;
    letter-spacing: 1px;
    margin: 0 auto;
}

.app-quit-button {
    height: 40px;
    width: 50px;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-app-region: no-drag;
}

.app-quit-button i {
    font-size: 22px;
    padding: 7px 15px;
}

.app-quit-button:hover {
    background-color: #e72d36;
}

.container {
    width: 100%;
    height: 94vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.cover-container {
    width: 270px;
    height: 275px;
    border-radius: 15px;
    background-color: #2f3338;
    background-size: 270px 275px;
}

.track-info {
    width: 280px;
    height: 50px;
    padding: 10px;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.8px;
}

.player {
    width: 100%;
    height: 85px;
    background-color: #141416;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seekbar {
    width: 100%;
    height: 5px;
    background-color: #aaaaaa;
}

.player-buttons {
    width: 220px;
    height: 85px;
    background-color: #141416;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-button {
    width: 50px;
    height: 50px;
    margin: 7px;
}

.player-button i {
    font-size: 25px;
    padding: 12px;
    transition: 0.13s ease-in-out;
}

.player-button i:hover {
    color: #aaaaaa;
}
